.div_main {
    margin: 60px auto;
    background-color: white;
    max-width: 80%;
    padding: 20px;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 24px;

}

h2 {
    font-weight: bold;
    font-size: 22px;
    margin: 10px;

}

h3 {
    font-weight: bold;
    font-size: 15px;
    color: #e4d09ae0;
}


.div_product {
    max-width: 600px;
    margin: 0 auto 40px;
}

p {
    font-size: 13px;
    margin-top: 2px;
    text-align: center;

}

ul {
    padding: 6px;

}

.li_context {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid #646363b8;
    margin-bottom: 25px;
}

.div_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.div_btn {
    display: flex;
    gap: 5px;

}

span {
    font-weight: bold;
    font-size: 15px;
    margin-right: 8px;

}

.a_edit {
    background-color: #FF8C00;
    text-align: center;
    padding: 3px;
    color: white;
    width: 70px;
    height: 28px;
    border-radius: 3px;
    font-size: 14px;
}

.a_edit:hover {
    background-color: #eb8304ec;
}

.button_detalhes {
    background-color: red;
    color: white;
    font-size: 14px;
    width: 70px;
    height: 28px;
    padding: 4px;
    border: none;
    cursor: pointer;
    border-radius: 3px;

}

.button_detalhes:hover {
    background-color: rgba(216, 9, 9, 0.904);
}